<!-- <header>
	<nav class="navbar navbar-default">`
		<div class="container">
			<div class="navbar-header">
				<h4>{{'Welcome '+userSession.username}}</h4>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#dashboard"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#skill"><i class="fa fa-shield"></i> About</a></li>
				<li><a href="#personal"><i class="fa fa-comment"></i>Contact</a></li>
				<li><a href="#logout"><i class="fa fa-comment"></i>Logout</a></li>
			</ul>
		</div>
	</nav>
</header> -->

 <p>
 	<a ng-click="dashCtrl.Orders({userSession})"  class="btn btn-primary">
 	Order History</a>
 	
 	<a  ng-click="dashCtrl.getProduct()" class="btn btn-success right">View Top Sold Product</a>
 	
 	<a  ng-click="dashCtrl.Cart({userSession})" class="btn btn-success right">Cart</a>
 </p>
<br>

<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		{{message}}
	</div>
	
	<a class="btn btn-success" ng-click="dashCtrl.getProduct()"></a>


	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>Product Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Quantity Available</th>
				<th>Price</th>
				<th>Quantity Ordered</th>
				<th>Operation</th>
			</tr>
			<tr ng-repeat="product in products">
				<td>{{product.productId}}</td>
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>				
				<td>{{product.quantityAvail}}</td>
				<td>{{product.price}}</td>
				<td><input type="number" min="1" ng-max="26" ng-model="dashCtrl.quantity"></input></td>
				<td><a class="btn btn-danger" ng-click="dashCtrl.addtocart({userSession},{product})">Add To Cart</a></td>
				
			</tr>
		</table>
	</div>
</div>