<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'>
			<h5>Add Product</h5>
		</div>
		<div class='panel-body'>
			<form class='form-horizontal' role='form'>
				<div class="form-group">

					<div ng-show="productRegCtrl.error" align="center"
						class="col-sm-offset-2 col-sm-2 alert alert-danger">{{productRegCtrl.message}}</div>

				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='name'>Name</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='name'
									placeholder='Product Name' ng-model="productRegCtrl.addProduct.name"
									type='text' >
							</div>
						</div>
					</div>
					
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='desciption'>Description</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='desciption'
									placeholder='Description' ng-model="productRegCtrl.addProduct.description"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='price'>Price</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='price'
									placeholder='Price' ng-model="productRegCtrl.addProduct.price"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='quantityAvail'>Quantity Available</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='quantityAvail' placeholder='Quantity Available'
									ng-model="productRegCtrl.addProduct.quantityAvail" type='number' required>
							</div>
						</div>						
					</div>
				</div>
				
			

				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="productRegCtrl.productReg()"
							type='submit'>Add Product</button>
					</div>
					<div class='col-md-3'>
						<button class='btn btn-danger' ng-click="productRegCtrl.cancel()"
							style='float: right' type='submit'>Cancel</button>
					</div>
		
			<div class='col-md-3'>
						<button class='btn btn-danger' ng-click="productRegCtrl.back()"
							style='float: right' type='submit'>Back</button>
					</div>


				</div>
			</form>
		</div>
	</div>
</div>



</body>
</html>