<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
	
	<script>


	</script>

<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'>
			<h5>Customer Registration</h5>
		</div>
		<div class='panel-body'>
			<form class='form-horizontal' role='form'>
				<div class="form-group">

					<div ng-show="regCtrl.error" align="center"
						class="col-sm-offset-2 col-sm-2 alert alert-danger">{{regCtrl.message}}</div>

				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='name'>Name</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='name'
									placeholder='Full Name' ng-model="regCtrl.registration.name"
									type='text'>
							</div>
						</div>
					</div>
				</div>
			
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_userName'>Username</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_userName'
									placeholder='Username' ng-model="regCtrl.registration.username"
									type='text'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Password</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_password'
									placeholder='Password' ng-model="regCtrl.registration.password"
									type='password'>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='email'>Email</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='email' placeholder='E-mail'
									ng-model="regCtrl.registration.email" type='email' required>
							</div>
						</div>						
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='streetAddress'>Street Address</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='streetAddress'
									placeholder='Street Address' ng-model="regCtrl.registration.streetAddress"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='city'>City</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='city'
									placeholder='City' ng-model="regCtrl.registration.city"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='state'>State</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='state'
									placeholder='State' ng-model="regCtrl.registration.state"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='gender'>Gender</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='gender'
									placeholder='Gender' ng-model="regCtrl.registration.gender"
									type='text' required>
							</div>
						</div>
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='card'>Card Number</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='card'
									placeholder='State' ng-model="regCtrl.registration.cardNumber"
									type='number' maxlength="10"  required>
							</div>
						</div>
					</div>
				</div>
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='cvv'>Cvv</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='cvv'
									placeholder='Cvv' ng-model="regCtrl.registration.cvv"
									type="number" maxlength="3" pattern="([0-9]|[0-9]|[0-9])" inputmode=numeric required>
							</div>
						</div>
					</div>
				</div>
				
	

				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="regCtrl.register()"
							type='submit'>Register</button>
					</div>
					<div class='col-md-3'>
						<button class='btn btn-danger' ng-click="regCtrl.cancel()"
							style='float: right' type='submit'>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>